<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 <suite name="mowItNow" >
  <test name="mowItNow" >
    <classes>
       <class name="com.mainaud.exo.mowitnow.LawnTest" />
       <class name="com.mainaud.exo.mowitnow.LocationTest" />
       <class name="com.mainaud.exo.mowitnow.MowerTest"/>
       <class name="com.mainaud.exo.mowitnow.MowerSystemControlTest"/>
    </classes>
  </test>
 </suite>